{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-else-return": 0,
    "no-global-assign": 0,
    "global-require": 0,
    "import/extensions": 0,
    "import/imports-first": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/no-dynamic-require": 0,
    "import/prefer-default-export": 0,
    "no-return-assign": 0,
    "no-underscore-dangle": 0,
    "no-unsafe-negation": 0,
    # "react/forbid-prop-types": [2, {'forbid': ['object', 'array']}],
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": [0, { skipShapeProps: true }],

    #turn these off during refactor - will reactivate after.
    "jsx-a11y/no-static-element-interactions": 0,
    "react/forbid-prop-types": 0,
  }
}
