.serifLargeNormal {
  font-family: 'Crimson Text';
  font-size: 36px;
  font-weight: 400;
}

.sansSerifSmallLightItalic {
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  font-style: italic;
}

.sansSerifSmallLight {
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}

.sansSerifSmall {
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.sansSerifSmallBold {
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

.sansSerifSmallBoldItalic {
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  font-style: italic;
}


.sansSerifMedium {
  font-family: Lato;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
}

.serifMedium {
  font-family: 'Crimson Text';
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
}
