$swatch01: #3f3f3f;
$swatch02: #fff;
$swatch03: #efefef;
$swatch04: #919191;

$swatch05: #75937d;
$swatch06: #20ce94;
$swatch07: #1bedac;

$swatch08: #d1425a;
$swatch09: #f4475c;
$swatch10: #ff6680;

$swatch11: #ccbf1d;
$swatch12: #eae01c;
$swatch13: #eaea47;

$swatch14: #4040c1;
$swatch15: #4949f2;
$swatch16: #6c6cff;

$swatch17: #e8792e;
$swatch18: #f98130;
$swatch19: #ff8c3e;


// sundial colors
$swatch20: #2d2f3d;
$swatch21: #aee4e5;
$swatch22: #ffec00;
$swatch23: #fffad2;
