@import '../../theme/variables';
@import '../../theme/typography';

.sidebar {
  border-right: 1px solid $swatch01;
  width: 185px;
  padding: 0 18px;
  margin: 20px 0;
  height: calc(100vh - 100px);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  color: $swatch01;
  @include font($sans-serif, 19px);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.link {
  color: $swatch01;
  text-decoration: none;
  transition: color 300ms ease;

  &:hover {
    color: $swatch06;
  }
}

.active {
  color: $swatch06;
}
