@import '../../theme/variables';

.monsterDetails {
  width: 400px;
  margin-top: 20px;
}

.name {
  composes: serifLargeNormal from 'sass!../../theme/typography.scss';
  margin: 0 0 -5px;
}

.sizeTypeAlignment {
  composes: sansSerifSmallLightItalic from 'sass!../../theme/typography.scss';
  margin: 0;
}
