@import '../../theme/layout';

.campaignContainer {
  @include column-container;
  align-items: stretch;
  width: 100%;
}

.workTable {
  flex: 2;
}

.history {
  padding: 0 20px;
  overflow-y: scroll;
  flex: 1;
}
