@import '../../theme/icons';
@import '../../theme/typography';
@import '../../theme/variables';

.timeKeeper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dayCount {
  text-align: center;
  @include font($sans-serif, $small, $bold);
  margin-bottom: 10px;
}

.sundial {
  height: 74px;
  width: 138px;
  overflow: hidden;
  margin-bottom: 5px;
  background-image: url('../../theme/assets/images/sundial-frame.svg');
  background-repeat: no-repeat;
  position: relative;
}

.sky {
  height: 64px;
  width: 128px;
  border-radius: 128px 128px 0 0;
  position: absolute;
  z-index: -10;
  top: 4px;
  left: 5px;
  overflow: hidden;
  transition: background 1000ms linear;

  @mixin dusk-till-dawn {
    content: '';
    height: 64px;
    width: 128px;
    border-radius: 128px 128px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1000ms linear;
  }

  // dusk
  &::before {
    @include dusk-till-dawn;
    background: linear-gradient(to bottom, $swatch21 0%, $swatch10 100%);
  }

  // dawn
  &::after {
    @include dusk-till-dawn;
    z-index: -1;
    background: linear-gradient(to bottom, $swatch21 0%, $swatch19 100%);
  }

  &.night {
    background: $swatch20;
  }

  &.dusk {
    &::before {
      opacity: 1;
    }

    .cloudA,
    .cloudB {
      color: $swatch02;
      z-index: 1;
    }
  }

  &.dawn {
    &::after {
      opacity: 1;
    }

    .cloudA,
    .cloudB {
      color: $swatch02;
      z-index: 1;
    }
  }

  &.day {
    background: $swatch21;

    .stars {
      opacity: 0;
    }

    .cloudA,
    .cloudB {
      color: $swatch02;
    }
  }
}

.stars {
  height: 58px;
  width: 110px;
  background-image: url('../../theme/assets/images/sundial-stars.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  left: 9px;
}

.cloudA,
.cloudB {
  color: $swatch04;
  position: absolute;
  transition: color 1000ms linear;

  &::before {
    @include icon('cloud', 'scribe-weather');
  }
}

.cloudA {
  top: 29px;
  left: 20px;
}

.cloudB {
  top: 39px;
  right: 25px;
}

.sunMoon {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 14px;
  top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 1000ms linear;
}

.sun {
  color: $swatch22;
  transition: transform 1000ms linear;

  &::before {
    @include icon('sun', 'scribe-weather');
    margin-right: 0;
    font-size: 20px;
  }
}

.moon {
  color: $swatch23;
  transition: transform 1000ms linear;

  &::before {
    @include icon('moon', 'scribe-weather');
    margin-right: 0;
  }
}

.time {
  @include font($sans-serif, $medium-large);
  margin-bottom: 20px;
}

.colon {
  margin: 0 10px;
}

.button {
  background: $swatch01;
  color: $swatch02;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 0;
  @include font($sans-serif, $very-small);
  text-align: center;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 300ms ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $swatch06;
  }

  &:active {
    background-color: $swatch07;
  }

  &:focus {
    outline: 0;
  }
}

.duration {
  font-weight: $bold;
}

.unit {
  font-weight: $light;
}
