@import '../../theme/typography';
@import '../../theme/variables';
@import '../../theme/buttons';
@import '../../theme/forms';

.loginForm {
  background: $swatch02;
  padding: 48px 48px 36px;
  width: 400px;
  position: relative;
}

.spinnerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: $swatch02;
  opacity: .95;
}

.error {
  margin-bottom: 16px;
  color: $swatch09;
  @include font-map((font-size: $small, font-weight: $bold));

  p {
    margin: 0;
  }

  .message {
    @include font-map((font-size: $small, font-weight: $light));
  }
}

.title {
  @include font($serif, $large);
  color: $swatch01;
  margin: 0 0 24px;
}

.input {
  @include input;
  margin-bottom: 12px;
}

.submit {
  @include button(do);
}

.controls {
  display: flex;
  justify-content: space-between;
}

.toggle {
  display: flex;
  margin-bottom: 24px;

  &.login {
    .loginToggle {
      background: $swatch05;
      color: $swatch02;
    }
  }

  &.signup {
    .signupToggle {
      background: $swatch05;
      color: $swatch02;
    }
  }
}

.loginToggle,
.signupToggle {
  @include button(do);
  width: 100%;
  display: block;
  text-align: center;
  border: 0;
  background: $swatch03;
  padding: 16px;
  text-transform: uppercase;
  outline: none;
  transition: background 300ms ease, color 300ms ease;
}
