@import '../../theme/swatches';
@import '../../theme/typography';
@import '../../theme/buttons';

.heading {
  @include font((font-size: $large, font-family: $serif, font-weight: $light));
  border-bottom: 1px solid $swatch01;
  padding-bottom: 30px;
}

.log {
  @include font((font-size: $small));
  padding-top: 5px;
  border-bottom: 1px solid $swatch03;

  &:hover {
    .edit,
    .addNote {
      opacity: 1;
    }
  }
}

.topControls {
  height: 21px;
  display: flex;
  justify-content: space-between;
}

//buttons
.addNote {
  @include button(do);
  opacity: 0;
  transition: opacity 300ms ease, color 300ms ease;
}

.edit {
  @include button(do);
  opacity: 0;
  transition: opacity 300ms ease, color 300ms ease;
}

.save {
  @include button(do);
  opacity: 1;
  transition: opacity 300ms ease, color 300ms ease;
}

.delete {
  @include button(undo);
  opacity: 1;
  transition: opacity 300ms ease, color 300ms ease;
}

.cancel {
  @include button(undo);
  opacity: 1;
  transition: opacity 300ms ease, color 300ms ease;
}

.logHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  div {
    line-height: 18px;

    &:last-child {
      text-align: right;
    }
  }
}

.day {
  text-transform: uppercase;
}

.time {
  font-weight: $bold;
}

.season {
  font-weight: $light;
  text-transform: uppercase;
}

.temp {
  font-weight: $light;
}

.input {
  min-height: 20px;
  background: $swatch02;
}
