@import '../../../theme/typography';
@import '../../../theme/variables';

.monsterDetails {
  width: 400px;
  padding: 20px 20px 20px 0;
  overflow-y: scroll;
  height: 100%;
}

.name {
  @include font((font-size: $large, font-family: $serif));
  margin: 0 0 -5px;
}

.sizeTypeAlignment {
  @include font((font-size: $small, font-weight: $light));
  font-style: italic;
  margin: 0;
}
