@import 'normalize.css';
@import '../../theme/variables';
@import '../../theme/typography';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.content {
  height: calc(100vh - 80px);
  display: flex;
  overflow: hidden;
}

.login {
  .content {
    background: $swatch03;
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
}

.header {
  height: 80px;
  padding: 0 16px;
  background-color: $swatch01;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

// HEADER LOGO
.logo {
  border: 0;
  font: 0 / 0 a;
  text-shadow: none;
  color: transparent;
  background-image: url('../../theme/assets/images/logo-light.svg');
  width: 110px;
  height: 43px;
}

// HEADER AUTH
.auth {
  color: $swatch04;

  a {
    color: $swatch04;
    text-decoration: none;
    transition: color 300ms ease;
    @include font($sans-serif, 18px, $light);

    &:hover {
      color: $swatch05;
    }
  }
}

.loggedIn {
  display: flex;
  align-items: center;
}

.name {
  @include font($sans-serif, 18px, $light);
  text-transform: uppercase;
  margin-right: 12px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid $swatch02;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

// MENU
.menu {
  $width: 255px;
  height: 80px;
  width: $width;
  position: absolute;
  left: calc(50% - #{$width / 2});
  text-align: center;

  font-size: 18px;
  font-weight: $light;
  color: $swatch04;
  text-transform: uppercase;

  &:hover {
    .list {
      display: block;
    }
  }

  .campaign {
    font-weight: bold;
    color: $swatch05;
    height: 20px;
    margin-top: 13px;
  }
}

.hr {
  height: 1px;
  background: $swatch04;
  margin: 8px;
}

.active {
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 11px solid $swatch05;
    position: absolute;
    left: calc(50% - 9px);
    bottom: -6px;
    z-index: 1;
  }
}

.list {
  position: absolute;
  display: none;
  width: 80%;
  background: $swatch01;
  color: $swatch02;
  padding: 28px 32px;
  top: 68px;
  left: calc(50% - 40%);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 12px;
      font-size: 18px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;
        color: $swatch02;
        transition: color 300ms ease;

        &:hover {
          color: $swatch05;
        }
      }
    }
  }

  .secondaryMenu {
    padding-top: 9px;
    margin-top: 9px;
    border-top: 1px solid $swatch02;
  }

  .logout {
    background: none;
    border: 0;
    color: $swatch02;
    transition: color 300ms ease;
    text-transform: uppercase;
    font-weight: 300;
    outline: none;
    cursor: pointer;

    &:hover {
      color: $swatch05;
    }
  }
}
