@import 'normalize.css';
@import '../../theme/variables';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.login {
  .content {
    background: $swatch03;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebarContainer {
    display: none;
  }
}
