@import '../../theme/variables';
@import '../../theme/typography';
@import '../../theme/icons';
@import '../../theme/buttons';
@import '../../theme/forms';

$typography: '../../theme/typography.scss';
$buttons: '../../theme/buttons.scss';

.note {
  composes: sansSerifSmallLight from $typography;
  margin: 0 0 10px;
}

.content {
  composes: sansSerifSmallLight from $typography;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.heading {
  font-weight: $bold;
}

.form {
  position: relative;
}

.input {
  @include input;
}

.submit {
  @include button(do);
  float: right;
}

.cancel {
  @include button(undo);
}

.delete {
  @include button(delete)
  position: absolute;
  top: -8px;
  right: -13px;
}

.deleting {
  color: $swatch09;

  .heading {
    text-decoration: line-through;
  }

  .input {
    color: $swatch02;
    background: $swatch09;
  }

  .delete {
    &::before {
      color: $swatch09;
    }

    &:hover {
      &::before {
        color: $swatch03;
      }
    }
  }
}
