@import '../../../theme/variables';

.itemDetails {
  width: 400px;
  padding: 20px 20px 20px 0;
  overflow-y: scroll;
  height: 100%;
}

.name {
  composes: serifLargeNormal from 'sass!../../../theme/typography.scss';
  margin: 0 0 -5px;
}

.sizeTypeAlignment {
  composes: sansSerifSmallLightItalic from 'sass!../../../theme/typography.scss';
  margin: 0;
}
