@import '../../theme/swatches';
@import '../../theme/typography';

.definitions {
  border-top: 1px solid $swatch01;
  margin-top: 15px;
  padding-top: 15px;

  dd {
    @include font((font-size: $small, font-weight: $light))
    display: inline;
    margin: 0;

    &::after {
      content: '';
      display: block;
      margin: 0;
    }
  }

  dt {
    @include font((font-size: $small, font-weight: $bold));
    line-height: 21px;
    display: inline;
  }

  &.verbose {
    dd {
      @include font((font-size: $small, font-weight: $light));
      display: inline;
      margin: 0;

      &::after {
        content: '';
        display: block;
        margin: 0 0 15px;
      }
    }

    dt {
      @include font((font-size: $small, font-weight: $bold));
      line-height: 21px;
      font-style: italic;
      display: inline;
    }
  }
}
